# Setup and Data Collection

In [1]:
# Dependencies
# ----------------------------------
# Imports the method used for connecting to DBs
from sqlalchemy import create_engine

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float 


import psycopg2 as pg
import numpy as np
import pandas as pd

import sys
sys.path.append("..")
from cred.cred_user import username
from cred.cred_p import pgpass
from cred.cred_host import host_loc
from cred.cred_port import cred_port

db = "Proj_ETL"

In [2]:
neuro_data = "../data_large/Neuroscience_Data.csv"
neuro_df = pd.read_csv(neuro_data)
neuro_df.head()

,Unnamed: 0,citation_abstract,citation_author,citation_author_email,citation_author_institution,citation_date,citation_doi,citation_issn,citation_journal_abbrev,citation_journal_title,...,citation_publisher,citation_title,citation_volume,dc.identifier,description,img,keywords,text,title,url
0,0,The peripheral nervous system has an intrinsic...,"Offen, Daniel",danioffen@gmail.com,"Sackler Faculty of Medicine, Tel Aviv Universi...",2019.0,10.3389/fnins.2019.00151,1662-453X,Front. Neurosci.,Frontiers in Neuroscience,...,Frontiers,HUMAN MUSCLE PROGENITOR CELLS OVEREXPRESSING N...,13.0,NaN,The peripheral nervous system has an intrinsic...,https://www.frontiersin.org/files/MyHome%20Art...,Human muscle progenitor cells; Neurotrophic fa...,HUMAN MUSCLE PROGENITOR CELLS OVEREXPRESSING N...,HUMAN MUSCLE PROGENITOR CELLS OVEREXPRESSING N...,https://www.frontiersin.org/articles/10.3389/f...
1,1,"In this study, we explore the functional role ...","Molkov, Yaroslav I.",NaN,"Department of Mathematics and Statistics, Geor...",2019.0,10.3389/fncir.2019.00010,1662-5110,Front. Neural Circuits,Frontiers in Neural Circuits,...,Frontiers,The Functional Role of Striatal Cholinergic In...,13.0,doi:10.3389/fncir.2019.00010,"In this study, we explore the functional role ...",https://www.frontiersin.org/files/MyHome%20Art...,Striatum; Basal Ganglia; Reinforcement Learn...,"In this study, we explore the functional role ...",The Functional Role of Striatal Cholinergic In...,https://www.frontiersin.org/articles/10.3389/f...
2,2,Recent studies clearly indicate that endocrine...,"Herman-Antosiewicz, Anna",anna.herman@biol.ug.edu.pl,"University of Gdansk, Gdansk, 80-952, Pomerani...",2019.0,10.3389/fnins.2019.00165,1662-453X,Front. Neurosci.,Frontiers in Neuroscience,...,Frontiers,Iron Metabolism of the Skeletal Muscle and Neu...,13.0,NaN,Recent studies clearly indicate that endocrine...,https://www.frontiersin.org/files/MyHome%20Art...,"myokine, ; Iron,; ALS, amyotrophic lateral scl...",Iron Metabolism of the Skeletal Muscle and Neu...,Iron Metabolism of the Skeletal Muscle and Neu...,https://www.frontiersin.org/articles/10.3389/f...
3,3,Emerging neuroimaging studies emphasize the dy...,"Wang, Zheng",zheng.wang@ion.ac.cn,"Institute of Neuroscience, Shanghai Institutes...",2019.0,10.3389/fnins.2019.00174,1662-453X,Front. Neurosci.,Frontiers in Neuroscience,...,Frontiers,Brain Map of Intrinsic Functional Flexibility ...,13.0,NaN,Emerging neuroimaging studies emphasize the dy...,https://www.frontiersin.org/files/MyHome%20Art...,dynamic brain organization; intrinsic function...,Brain Map of Intrinsic Functional Flexibility ...,Brain Map of Intrinsic Functional Flexibility ...,https://www.frontiersin.org/articles/10.3389/f...
4,4,The disruption of iron metabolism and iron tra...,"So, Po-Wah",Po-wah.so@kcl.ac.uk,"King's College London, London, WC2R 2LS, Unite...",2019.0,10.3389/fnins.2019.00181,1662-453X,Front. Neurosci.,Frontiers in Neuroscience,...,Frontiers,Low CSF melanotransferrin is associated with c...,13.0,NaN,The disruption of iron metabolism and iron tra...,https://www.frontiersin.org/files/MyHome%20Art...,Alzheimer’s disease; CSF; Iron; MCI; Melanotra...,Low CSF melanotransferrin is associated with c...,Low CSF melanotransferrin is associated with c...,https://www.frontiersin.org/articles/10.3389/f...

In [3]:
mental_data = "../data/Mental_Data.csv"
mental_df = pd.read_csv(mental_data)
mental_df.head()

,Country; Year,Government expenditures on mental hospitals as a percentage of total government expenditures on mental health (%),Stand-alone law for mental health,Year the law was enacted (latest revision),Stand-alone policy or plan for mental health,Publication year of the policy or plan (latest revision)
0,Afghanistan; 2016,NaN,Yes,1987,Yes,2016.0
1,Afghanistan; 2014,NaN,Yes,NaN,Yes,NaN
2,Albania; 2016,NaN,Yes,2012,Yes,2013.0
3,Albania; 2014,NaN,Yes,NaN,Yes,NaN
4,Algeria; 2016,NaN,Yes,1905,No,NaN

## Exploring the Neuroscience Data

In [4]:
neuro_df.head(1)

,Unnamed: 0,citation_abstract,citation_author,citation_author_email,citation_author_institution,citation_date,citation_doi,citation_issn,citation_journal_abbrev,citation_journal_title,...,citation_publisher,citation_title,citation_volume,dc.identifier,description,img,keywords,text,title,url
0,0,The peripheral nervous system has an intrinsic...,"Offen, Daniel",danioffen@gmail.com,"Sackler Faculty of Medicine, Tel Aviv Universi...",2019.0,10.3389/fnins.2019.00151,1662-453X,Front. Neurosci.,Frontiers in Neuroscience,...,Frontiers,HUMAN MUSCLE PROGENITOR CELLS OVEREXPRESSING N...,13.0,NaN,The peripheral nervous system has an intrinsic...,https://www.frontiersin.org/files/MyHome%20Art...,Human muscle progenitor cells; Neurotrophic fa...,HUMAN MUSCLE PROGENITOR CELLS OVEREXPRESSING N...,HUMAN MUSCLE PROGENITOR CELLS OVEREXPRESSING N...,https://www.frontiersin.org/articles/10.3389/f...

In [5]:
neuro_df.columns

Index(['Unnamed: 0', 'citation_abstract', 'citation_author',
       'citation_author_email', 'citation_author_institution', 'citation_date',
       'citation_doi', 'citation_issn', 'citation_journal_abbrev',
       'citation_journal_title', 'citation_keywords', 'citation_language',
       'citation_online_date', 'citation_pages', 'citation_pdf_url',
       'citation_publication_date', 'citation_publisher', 'citation_title',
       'citation_volume', 'dc.identifier', 'description', 'img', 'keywords',
       'text', 'title', 'url'],
      dtype='object')

In [6]:
neuro_df["citation_journal_title"].value_counts()

Frontiers in Human Neuroscience            5330
Frontiers in Neuroscience                  4252
Frontiers in Cellular Neuroscience         2719
Frontiers in Computational Neuroscience    1120
Frontiers in Neural Circuits                966
Frontiers in Neuroanatomy                   953
Frontiers in Neuroinformatics               500
Frontiers in Neurorobotics                  277
Frontiers in Neuroengineering               117
Frontiers in Neuroenergetics                 63
Frontiers in Artificial Intelligence          1
Name: citation_journal_title, dtype: int64

In [7]:
neuro_df["citation_date"].value_counts()

2018.0    2530
2014.0    2512
2017.0    2349
2015.0    2241
2016.0    2106
2013.0    2052
2012.0     955
2019.0     600
2011.0     562
2010.0     391
Name: citation_date, dtype: int64

In [8]:
neuro_df["citation_author_institution"].value_counts().head()

Center for Collaboration and Innovation in Brain and Learning Sciences, Beijing Normal University, Beijing, China    14
Institute of Neuroinformatics, University of Zurich and ETH Zurich, Zurich, Switzerland                              10
University College London, London, United Kingdom                                                                    10
Center for Behavioral Brain Sciences, Magdeburg, Germany                                                              8
Institute for Human Movement and Medical Sciences, Niigata University of Health and Welfare, Niigata, Japan           8
Name: citation_author_institution, dtype: int64

## Exploring the Mental Health Policy Data

In [9]:
mental_df.head(1)

,Country; Year,Government expenditures on mental hospitals as a percentage of total government expenditures on mental health (%),Stand-alone law for mental health,Year the law was enacted (latest revision),Stand-alone policy or plan for mental health,Publication year of the policy or plan (latest revision)
0,Afghanistan; 2016,NaN,Yes,1987,Yes,2016.0

In [10]:
mental_df["Stand-alone law for mental health"].value_counts()

Yes      208
No       126
Yes        2
No         1
2018       1
No No      1
yes        1
Name: Stand-alone law for mental health, dtype: int64

In [11]:
mental_df["Stand-alone policy or plan for mental health"].value_counts()

Yes        268
No          73
Yes Yes      1
YES          1
Name: Stand-alone policy or plan for mental health, dtype: int64

In [12]:
mental_df["Publication year of the policy or plan (latest revision)"].value_counts()

2016.0    30
2013.0    16
2015.0    16
2014.0    15
2012.0    13
2017.0    13
2011.0    10
2008.0     3
2004.0     3
2009.0     3
2006.0     3
2007.0     2
2003.0     2
2002.0     1
1998.0     1
2005.0     1
1971.0     1
2010.0     1
1996.0     1
1993.0     1
1978.0     1
2001.0     1
Name: Publication year of the policy or plan (latest revision), dtype: int64

In [13]:
mental_df["Government expenditures on mental hospitals" +
          " as a percentage of total government expenditures on mental health (%)"].describe()

count    78.000000
mean      3.717949
std       3.608854
min       0.000000
25%       1.100000
50%       2.700000
75%       5.525000
max      19.500000
Name: Government expenditures on mental hospitals as a percentage of total government expenditures on mental health (%), dtype: float64

## Choosing the Columns of interest

In [14]:
neuro_df.columns

Index(['Unnamed: 0', 'citation_abstract', 'citation_author',
       'citation_author_email', 'citation_author_institution', 'citation_date',
       'citation_doi', 'citation_issn', 'citation_journal_abbrev',
       'citation_journal_title', 'citation_keywords', 'citation_language',
       'citation_online_date', 'citation_pages', 'citation_pdf_url',
       'citation_publication_date', 'citation_publisher', 'citation_title',
       'citation_volume', 'dc.identifier', 'description', 'img', 'keywords',
       'text', 'title', 'url'],
      dtype='object')

In [15]:
neuro_df = neuro_df[["title","citation_author","citation_date",\
                             "citation_journal_title","description","keywords",]]

In [16]:
neuro_df.head()

,title,citation_author,citation_date,citation_journal_title,description,keywords
0,HUMAN MUSCLE PROGENITOR CELLS OVEREXPRESSING N...,"Offen, Daniel",2019.0,Frontiers in Neuroscience,The peripheral nervous system has an intrinsic...,Human muscle progenitor cells; Neurotrophic fa...
1,The Functional Role of Striatal Cholinergic In...,"Molkov, Yaroslav I.",2019.0,Frontiers in Neural Circuits,"In this study, we explore the functional role ...",Striatum; Basal Ganglia; Reinforcement Learn...
2,Iron Metabolism of the Skeletal Muscle and Neu...,"Herman-Antosiewicz, Anna",2019.0,Frontiers in Neuroscience,Recent studies clearly indicate that endocrine...,"myokine, ; Iron,; ALS, amyotrophic lateral scl..."
3,Brain Map of Intrinsic Functional Flexibility ...,"Wang, Zheng",2019.0,Frontiers in Neuroscience,Emerging neuroimaging studies emphasize the dy...,dynamic brain organization; intrinsic function...
4,Low CSF melanotransferrin is associated with c...,"So, Po-Wah",2019.0,Frontiers in Neuroscience,The disruption of iron metabolism and iron tra...,Alzheimer’s disease; CSF; Iron; MCI; Melanotra...

In [17]:
#I think all the columns in this dataset are relevant!

mental_df = mental_df

In [18]:
mental_df.head()

,Country; Year,Government expenditures on mental hospitals as a percentage of total government expenditures on mental health (%),Stand-alone law for mental health,Year the law was enacted (latest revision),Stand-alone policy or plan for mental health,Publication year of the policy or plan (latest revision)
0,Afghanistan; 2016,NaN,Yes,1987,Yes,2016.0
1,Afghanistan; 2014,NaN,Yes,NaN,Yes,NaN
2,Albania; 2016,NaN,Yes,2012,Yes,2013.0
3,Albania; 2014,NaN,Yes,NaN,Yes,NaN
4,Algeria; 2016,NaN,Yes,1905,No,NaN

## Data Cleaning

In [19]:
mental_df["Stand-alone law for mental health"].value_counts()

Yes      208
No       126
Yes        2
No         1
2018       1
No No      1
yes        1
Name: Stand-alone law for mental health, dtype: int64

In [20]:
mental_df.loc[mental_df["Stand-alone law for mental health"] != "Yes" | \
              mental_df["Stand-alone law for mental health"] != "No"].value_counts()

TypeError: cannot compare a dtyped [object] array with a scalar of type [bool]

In [21]:
mental_df["Stand-alone policy or plan for mental health"].value_counts()

Yes        268
No          73
Yes Yes      1
YES          1
Name: Stand-alone policy or plan for mental health, dtype: int64

In [22]:
mental_df.loc[mental_df["Stand-alone policy or plan for mental health"] != "Yes" | \
              mental_df["Stand-alone policy or plan for mental health"] != "No"]

TypeError: cannot compare a dtyped [object] array with a scalar of type [bool]

In [23]:
neuro_df.columns

Index(['title', 'citation_author', 'citation_date', 'citation_journal_title',
       'description', 'keywords'],
      dtype='object')

In [24]:
neuro_df.head()

,title,citation_author,citation_date,citation_journal_title,description,keywords
0,HUMAN MUSCLE PROGENITOR CELLS OVEREXPRESSING N...,"Offen, Daniel",2019.0,Frontiers in Neuroscience,The peripheral nervous system has an intrinsic...,Human muscle progenitor cells; Neurotrophic fa...
1,The Functional Role of Striatal Cholinergic In...,"Molkov, Yaroslav I.",2019.0,Frontiers in Neural Circuits,"In this study, we explore the functional role ...",Striatum; Basal Ganglia; Reinforcement Learn...
2,Iron Metabolism of the Skeletal Muscle and Neu...,"Herman-Antosiewicz, Anna",2019.0,Frontiers in Neuroscience,Recent studies clearly indicate that endocrine...,"myokine, ; Iron,; ALS, amyotrophic lateral scl..."
3,Brain Map of Intrinsic Functional Flexibility ...,"Wang, Zheng",2019.0,Frontiers in Neuroscience,Emerging neuroimaging studies emphasize the dy...,dynamic brain organization; intrinsic function...
4,Low CSF melanotransferrin is associated with c...,"So, Po-Wah",2019.0,Frontiers in Neuroscience,The disruption of iron metabolism and iron tra...,Alzheimer’s disease; CSF; Iron; MCI; Melanotra...

In [25]:
neuro_df.dtypes

title                      object
citation_author            object
citation_date             float64
citation_journal_title     object
description                object
keywords                   object
dtype: object

In [26]:
mental_df.head()

,Country; Year,Government expenditures on mental hospitals as a percentage of total government expenditures on mental health (%),Stand-alone law for mental health,Year the law was enacted (latest revision),Stand-alone policy or plan for mental health,Publication year of the policy or plan (latest revision)
0,Afghanistan; 2016,NaN,Yes,1987,Yes,2016.0
1,Afghanistan; 2014,NaN,Yes,NaN,Yes,NaN
2,Albania; 2016,NaN,Yes,2012,Yes,2013.0
3,Albania; 2014,NaN,Yes,NaN,Yes,NaN
4,Algeria; 2016,NaN,Yes,1905,No,NaN

In [27]:
mental_df_2 = mental_df.copy()

In [28]:
mental_df_2.head()

,Country; Year,Government expenditures on mental hospitals as a percentage of total government expenditures on mental health (%),Stand-alone law for mental health,Year the law was enacted (latest revision),Stand-alone policy or plan for mental health,Publication year of the policy or plan (latest revision)
0,Afghanistan; 2016,NaN,Yes,1987,Yes,2016.0
1,Afghanistan; 2014,NaN,Yes,NaN,Yes,NaN
2,Albania; 2016,NaN,Yes,2012,Yes,2013.0
3,Albania; 2014,NaN,Yes,NaN,Yes,NaN
4,Algeria; 2016,NaN,Yes,1905,No,NaN

In [29]:
for i in mental_df_2["Country; Year"]:
    mental_df_2["year"] = int(i.split(";")[1])
    mental_df_2["country"] = i.split(";")[0]

In [30]:
mental_df_2.head()

,Country; Year,Government expenditures on mental hospitals as a percentage of total government expenditures on mental health (%),Stand-alone law for mental health,Year the law was enacted (latest revision),Stand-alone policy or plan for mental health,Publication year of the policy or plan (latest revision),year,country
0,Afghanistan; 2016,NaN,Yes,1987,Yes,2016.0,2014,Zimbabwe
1,Afghanistan; 2014,NaN,Yes,NaN,Yes,NaN,2014,Zimbabwe
2,Albania; 2016,NaN,Yes,2012,Yes,2013.0,2014,Zimbabwe
3,Albania; 2014,NaN,Yes,NaN,Yes,NaN,2014,Zimbabwe
4,Algeria; 2016,NaN,Yes,1905,No,NaN,2014,Zimbabwe

In [31]:
mental_df_2 = mental_df_2.drop(["Country; Year"], axis=1)
mental_df_2.head()

,Government expenditures on mental hospitals as a percentage of total government expenditures on mental health (%),Stand-alone law for mental health,Year the law was enacted (latest revision),Stand-alone policy or plan for mental health,Publication year of the policy or plan (latest revision),year,country
0,NaN,Yes,1987,Yes,2016.0,2014,Zimbabwe
1,NaN,Yes,NaN,Yes,NaN,2014,Zimbabwe
2,NaN,Yes,2012,Yes,2013.0,2014,Zimbabwe
3,NaN,Yes,NaN,Yes,NaN,2014,Zimbabwe
4,NaN,Yes,1905,No,NaN,2014,Zimbabwe

In [32]:
mental_df_2["Year the law was enacted (latest revision)"].fillna(0, inplace=True)
mental_df_2.head()

,Government expenditures on mental hospitals as a percentage of total government expenditures on mental health (%),Stand-alone law for mental health,Year the law was enacted (latest revision),Stand-alone policy or plan for mental health,Publication year of the policy or plan (latest revision),year,country
0,NaN,Yes,1987,Yes,2016.0,2014,Zimbabwe
1,NaN,Yes,0,Yes,NaN,2014,Zimbabwe
2,NaN,Yes,2012,Yes,2013.0,2014,Zimbabwe
3,NaN,Yes,0,Yes,NaN,2014,Zimbabwe
4,NaN,Yes,1905,No,NaN,2014,Zimbabwe

In [63]:
mental_df_2

,Government expenditures on mental hospitals as a percentage of total government expenditures on mental health (%),Stand-alone law for mental health,Year the law was enacted (latest revision),Stand-alone policy or plan for mental health,Publication year of the policy or plan (latest revision),year,country,xy
0,NaN,Yes,1987,Yes,2016.0,2014,Zimbabwe,0
1,NaN,Yes,0,Yes,NaN,2014,Zimbabwe,0
2,NaN,Yes,2012,Yes,2013.0,2014,Zimbabwe,0
3,NaN,Yes,0,Yes,NaN,2014,Zimbabwe,0
4,NaN,Yes,1905,No,NaN,2014,Zimbabwe,0
5,NaN,Yes,0,Yes,NaN,2014,Zimbabwe,0
6,NaN,No,0,No,NaN,2014,Zimbabwe,0
7,8.0,Yes,1957,Yes,2013.0,2014,Zimbabwe,0
8,NaN,Yes,2013,Yes,2016.0,2014,Zimbabwe,0
9,NaN,Yes,0,Yes,NaN,2014,Zimbabwe,0
10,19.5,Yes,2004,Yes,2014.0,2014,Zimbabwe,0
11,NaN,Yes,0,Yes,NaN,2014,Zimbabwe,0
12,7.8,Yes,0,Yes,2009.0,2014,Zimbabwe,0
13,NaN,Yes,0,Yes,NaN,2014,Zimbabwe,0
14,NaN,No,0,No,NaN,2014,Zimbabwe,0
15,NaN,No,0,Yes,NaN,2014,Zimbabwe,0
16,3.5,Yes,2011,Yes,2012.0,2014,Zimbabwe,0
17,NaN,Yes,0,Yes,NaN,2014,Zimbabwe,0
18,NaN,Yes,2010,Yes,2012.0,2014,Zimbabwe,0
19,3.2,No,0,Yes,2015.0,2014,Zimbabwe,0
20,NaN,No,0,No,NaN,2014,Zimbabwe,0
21,0.5,No,0,No,NaN,2014,Zimbabwe,0
22,NaN,Yes,0,Yes,NaN,2014,Zimbabwe,0
23,9.2,Yes,1991,Yes,2004.0,2014,Zimbabwe,0
24,NaN,Yes,0,Yes,NaN,2014,Zimbabwe,0
25,2.1,Yes,2015,Yes,2016.0,2014,Zimbabwe,0
26,NaN,Yes,0,No,NaN,2014,Zimbabwe,0
27,NaN,Yes,0,Yes,NaN,2014,Zimbabwe,0
28,NaN,Yes,2014,Yes,2014.0,2014,Zimbabwe,0
29,NaN,No,No,Yes,2015.0,2014,Zimbabwe,0
...,...,...,...,...,...,...,...,...
315,NaN,Yes,0,Yes,NaN,2014,Zimbabwe,0
316,NaN,No,0,Yes,2011.0,2014,Zimbabwe,0
317,NaN,No,0,Yes,NaN,2014,Zimbabwe,0
318,NaN,Yes,0,Yes,NaN,2014,Zimbabwe,0
319,NaN,Yes,0,No,NaN,2014,Zimbabwe,0
320,NaN,Yes,1964,Yes,2014.0,2014,Zimbabwe,0
321,NaN,Yes,0,Yes,NaN,2014,Zimbabwe,0
322,NaN,Yes,0,No,NaN,2014,Zimbabwe,0
323,NaN,Yes,2016,Yes,2016.0,2014,Zimbabwe,0
324,NaN,Yes,0,Yes,NaN,2014,Zimbabwe,0
325,9.7,Yes,0,Yes,2016.0,2014,Zimbabwe,0
326,NaN,Yes,0,Yes,NaN,2014,Zimbabwe,0
327,4.0,Yes,2008,Yes,2016.0,2014,Zimbabwe,0
328,NaN,Yes,0,NaN,NaN,2014,Zimbabwe,0
329,NaN,No,0,Yes,2014.0,2014,Zimbabwe,0
330,NaN,No,0,No,NaN,2014,Zimbabwe,0
331,NaN,Yes,1936,Yes,2011.0,2014,Zimbabwe,0
332,NaN,Yes,0,Yes,NaN,2014,Zimbabwe,0
333,2.7,Yes,2016,Yes,2013.0,2014,Zimbabwe,0
334,NaN,Yes,0,Yes,NaN,2014,Zimbabwe,0
335,1.0,Yes,2017,Yes,2016.0,2014,Zimbabwe,0
336,NaN,No,0,No,NaN,2014,Zimbabwe,0
337,NaN,No,0,No,NaN,2014,Zimbabwe,0
338,NaN,No,0,Yes,NaN,2014,Zimbabwe,0
339,NaN,No,0,No,NaN,2014,Zimbabwe,0
340,NaN,No,0,Yes,NaN,2014,Zimbabwe,0
341,NaN,Yes,1951,Yes,2005.0,2014,Zimbabwe,0
342,NaN,Yes,0,Yes,NaN,2014,Zimbabwe,0
343,3.2,Yes,1996,Yes,2004.0,2014,Zimbabwe,0
344,NaN,Yes,0,Yes,NaN,2014,Zimbabwe,0

In [77]:
for i in mental_df_2["Year the law was enacted (latest revision)"]:    
    mental_df_2["xy"] = int(i)

ValueError: invalid literal for int() with base 10: 'No'

In [54]:
mental_df_2.head()

,Government expenditures on mental hospitals as a percentage of total government expenditures on mental health (%),Stand-alone law for mental health,Year the law was enacted (latest revision),Stand-alone policy or plan for mental health,Publication year of the policy or plan (latest revision),year,country,xy
0,NaN,Yes,1987,Yes,2016.0,2014,Zimbabwe,0
1,NaN,Yes,0,Yes,NaN,2014,Zimbabwe,2014
2,NaN,Yes,2012,Yes,2013.0,2014,Zimbabwe,2014
3,NaN,Yes,0,Yes,NaN,2014,Zimbabwe,2014
4,NaN,Yes,1905,No,NaN,2014,Zimbabwe,2014

In [35]:
mental_df_2 = mental_df_2.rename(columns={"Stand-alone law for mental health": "std_alone_law_mntl_hlth"})
mental_df_2 = mental_df_2.rename(columns={"Year the law was enacted (latest revision)": "yr_law_enacted_latver"})
mental_df_2 = mental_df_2.rename(columns={"Stand-alone policy or plan for mental health": "std_alone_polplan_mnth_hlth"})
mental_df_2 = mental_df_2.rename(columns={"Publication year of the policy or plan (latest revision)": "pub_yr_polplan_latver"})
mental_df_2 = mental_df_2.rename(columns={"Government expenditures on mental hospitals as a percentage of total government expenditures on mental health (%)":"govt_exp_mntlhos_per_totgovtexp_mntl_hlth"})

In [36]:
mental_df_2.head()

,govt_exp_mntlhos_per_totgovtexp_mntl_hlth,std_alone_law_mntl_hlth,yr_law_enacted_latver,std_alone_polplan_mnth_hlth,pub_yr_polplan_latver,country,year
0,NaN,Yes,1987,Yes,2016.0,Afghanistan,2014
1,NaN,Yes,NaN,Yes,NaN,Afghanistan,2014
2,NaN,Yes,2012,Yes,2013.0,Albania,2014
3,NaN,Yes,NaN,Yes,NaN,Albania,2014
4,NaN,Yes,1905,No,NaN,Algeria,2014

In [37]:
mental_df_2 = mental_df_2[["country", "year", "govt_exp_mntlhos_per_totgovtexp_mntl_hlth", "std_alone_law_mntl_hlth", "yr_law_enacted_latver" ,"std_alone_polplan_mnth_hlth", "pub_yr_polplan_latver"]]
mental_df_2.head()

,country,year,govt_exp_mntlhos_per_totgovtexp_mntl_hlth,std_alone_law_mntl_hlth,yr_law_enacted_latver,std_alone_polplan_mnth_hlth,pub_yr_polplan_latver
0,Afghanistan,2014,NaN,Yes,1987,Yes,2016.0
1,Afghanistan,2014,NaN,Yes,NaN,Yes,NaN
2,Albania,2014,NaN,Yes,2012,Yes,2013.0
3,Albania,2014,NaN,Yes,NaN,Yes,NaN
4,Algeria,2014,NaN,Yes,1905,No,NaN

In [38]:
mental_df_2["govt_exp_mntlhos_per_totgovtexp_mntl_hlth"].fillna(0, inplace=True)
mental_df_2["yr_law_enacted_latver"].fillna(0, inplace=True)
mental_df_2["pub_yr_polplan_latver"].fillna(0, inplace=True)

mental_df_2.head()

,country,year,govt_exp_mntlhos_per_totgovtexp_mntl_hlth,std_alone_law_mntl_hlth,yr_law_enacted_latver,std_alone_polplan_mnth_hlth,pub_yr_polplan_latver
0,Afghanistan,2014,0.0,Yes,1987,Yes,2016.0
1,Afghanistan,2014,0.0,Yes,0,Yes,0.0
2,Albania,2014,0.0,Yes,2012,Yes,2013.0
3,Albania,2014,0.0,Yes,0,Yes,0.0
4,Algeria,2014,0.0,Yes,1905,No,0.0

In [39]:
mental_df_2

,country,year,govt_exp_mntlhos_per_totgovtexp_mntl_hlth,std_alone_law_mntl_hlth,yr_law_enacted_latver,std_alone_polplan_mnth_hlth,pub_yr_polplan_latver
0,Afghanistan,2014,0.0,Yes,1987,Yes,2016.0
1,Afghanistan,2014,0.0,Yes,0,Yes,0.0
2,Albania,2014,0.0,Yes,2012,Yes,2013.0
3,Albania,2014,0.0,Yes,0,Yes,0.0
4,Algeria,2014,0.0,Yes,1905,No,0.0
5,Algeria,2014,0.0,Yes,0,Yes,0.0
6,Angola,2014,0.0,No,0,No,0.0
7,Antigua and Barbuda,2014,8.0,Yes,1957,Yes,2013.0
8,Argentina,2014,0.0,Yes,2013,Yes,2016.0
9,Argentina,2014,0.0,Yes,0,Yes,0.0
10,Armenia,2014,19.5,Yes,2004,Yes,2014.0
11,Armenia,2014,0.0,Yes,0,Yes,0.0
12,Australia,2014,7.8,Yes,0,Yes,2009.0
13,Australia,2014,0.0,Yes,0,Yes,0.0
14,Austria,2014,0.0,No,0,No,0.0
15,Austria,2014,0.0,No,0,Yes,0.0
16,Azerbaijan,2014,3.5,Yes,2011,Yes,2012.0
17,Azerbaijan,2014,0.0,Yes,0,Yes,0.0
18,Bahamas,2014,0.0,Yes,2010,Yes,2012.0
19,Bahrain,2014,3.2,No,0,Yes,2015.0
20,Bahrain,2014,0.0,No,0,No,0.0
21,Bangladesh,2014,0.5,No,0,No,0.0
22,Bangladesh,2014,0.0,Yes,0,Yes,0.0
23,Barbados,2014,9.2,Yes,1991,Yes,2004.0
24,Barbados,2014,0.0,Yes,0,Yes,0.0
25,Belarus,2014,2.1,Yes,2015,Yes,2016.0
26,Belarus,2014,0.0,Yes,0,No,0.0
27,Belgium,2014,0.0,Yes,0,Yes,0.0
28,Belgium,2014,0.0,Yes,2014,Yes,2014.0
29,Belize,2014,0.0,No,No,Yes,2015.0
...,...,...,...,...,...,...,...
315,Tunisia,2014,0.0,Yes,0,Yes,0.0
316,Turkey,2014,0.0,No,0,Yes,2011.0
317,Turkey,2014,0.0,No,0,Yes,0.0
318,Turkmenistan,2014,0.0,Yes,0,Yes,0.0
319,Tuvalu,2014,0.0,Yes,0,No,0.0
320,Uganda,2014,0.0,Yes,1964,Yes,2014.0
321,Uganda,2014,0.0,Yes,0,Yes,0.0
322,Ukraine,2014,0.0,Yes,0,No,0.0
323,United Arab Emirates,2014,0.0,Yes,2016,Yes,2016.0
324,United Arab Emirates,2014,0.0,Yes,0,Yes,0.0
325,United Kingdom of Great Britain and Northern I...,2014,9.7,Yes,0,Yes,2016.0
326,United Kingdom of Great Britain and Northern I...,2014,0.0,Yes,0,Yes,0.0
327,United Republic of Tanzania,2014,4.0,Yes,2008,Yes,2016.0
328,United Republic of Tanzania,2014,0.0,Yes,0,NaN,0.0
329,United States of America,2014,0.0,No,0,Yes,2014.0
330,United States of America,2014,0.0,No,0,No,0.0
331,Uruguay,2014,0.0,Yes,1936,Yes,2011.0
332,Uruguay,2014,0.0,Yes,0,Yes,0.0
333,Uzbekistan,2014,2.7,Yes,2016,Yes,2013.0
334,Uzbekistan,2014,0.0,Yes,0,Yes,0.0
335,Vanuatu,2014,1.0,Yes,2017,Yes,2016.0
336,Vanuatu,2014,0.0,No,0,No,0.0
337,Viet Nam,2014,0.0,No,0,No,0.0
338,Viet Nam,2014,0.0,No,0,Yes,0.0
339,Yemen,2014,0.0,No,0,No,0.0
340,Yemen,2014,0.0,No,0,Yes,0.0
341,Zambia,2014,0.0,Yes,1951,Yes,2005.0
342,Zambia,2014,0.0,Yes,0,Yes,0.0
343,Zimbabwe,2014,3.2,Yes,1996,Yes,2004.0
344,Zimbabwe,2014,0.0,Yes,0,Yes,0.0

In [40]:
mental_df_2.tail()

,country,year,govt_exp_mntlhos_per_totgovtexp_mntl_hlth,std_alone_law_mntl_hlth,yr_law_enacted_latver,std_alone_polplan_mnth_hlth,pub_yr_polplan_latver
340,Yemen,2014,0.0,No,0,Yes,0.0
341,Zambia,2014,0.0,Yes,1951,Yes,2005.0
342,Zambia,2014,0.0,Yes,0,Yes,0.0
343,Zimbabwe,2014,3.2,Yes,1996,Yes,2004.0
344,Zimbabwe,2014,0.0,Yes,0,Yes,0.0

## Get String Lengths

In [41]:
def string_length(column):
    length = []
    for index in neuro_df[column]:
        l1 = (len(str(index)))
        length.append(l1)
    print(f"{column}: {max(length)}")

In [42]:
string_length("title")
string_length("citation_author")
string_length("citation_journal_title")
string_length("description")
string_length("keywords")

title: 200
citation_author: 51
citation_journal_title: 39
description: 2853
keywords: 807

## SQL Connection

In [43]:
eng = create_engine('postgresql+psycopg2://'+ username +':' + pgpass + '@' +host_loc + ':' + cred_port + '/' + db)
conn = eng.connect()

In [44]:
print(eng.table_names())

['neuroscience']

In [49]:
neuro_df.to_sql(name='neuroscience', con=eng, if_exists='append', index=False)

In [45]:
mental_df_2.to_sql(name='mental_health_pol', con=eng, if_exists='append', index=False)